@import "./variables.scss";
.header {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  background-color: #efefef;
  height: 50px;
  margin-bottom: 120px;
  &__nav {
    font-size: 1.4rem;
    line-height: 1.6rem;
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 100%;
    align-items: center;
  }
  &__logo-sec {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo-sec {
  &__logo {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
  }
  &__phone {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
  &__callback-btn {
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background-color: #fff;
    border: 2px solid $accent;
    &:hover {
      cursor: pointer;
    }
  }
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.2rem;
    letter-spacing: 0.1em;
    color: $accent;
    text-transform: uppercase;
  }
  &__callback {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}
